<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://x.com/naren_lkmnvar"> <i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.instagram.com/_naren_008/"> <i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.instagram.com/_naren_008/">  <i class="fa-brands fa-facebook"></i></a>
        </div>
        <div>&copy;Festify private limited</div>
        <div class="f-info-links">
            <a href="/Privacy">Privacy</a>
            <a href="/Terms">Terms</a>
        </div>
    </div>
</footer>